openapi: 3.0.0
info:
  title: RIO LOD API
  description: "De RIO API is een RESTful webservice conform het HATEOAS principe die applicaties in staat stelt om gegevens uit Registratie Instellingen en Opleidingen (RIO) op te halen. Deze REST API volgt de Nederlandse API strategie. De data wordt dagelijks bijgewerkt om 05.30 uur. "
  version: "2.13.0"
servers:
  - url: "https://lod.onderwijsregistratie.nl/api/rio/v2"
    description: Productie server (gebruikt live data)
x-tagGroups:
  - name: Resources
    tags:
      - Opleidingsfasen
      - Opleidingsgroepen
      - Opleidingsonderdelen
      - Opleidingen
      - AangebodenOpleidingen
      - AangebodenOpleidingscohorten
      - Onderwijslocatiegebruiken
      - Onderwijslocaties
      - Contactadressen
      - OrganisatorischeEenheden
      - Opleidingserkenningen
      - Examenlicenties
      - Onderwijslicenties
      - Erkenningen
paths:
  /aangeboden-opleiding-cohorten:
    get:
      tags:
        - AangebodenOpleidingscohorten
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: AangebodenOpleidingscohorten
      parameters:
        - in: query
          name: aangebodenOpleidingCohorttype
          schema:
            $ref: '#/components/schemas/AangebodenopleidingCohorttype'
        - in: query
          name: aanmeldperiode
          schema:
            type: string
            description: "De datum die wordt gehanteerd bij het nemen van een beslissing
            of het bepalen van een status."
            format: date
        - in: query
          name: beginAanmeldperiode
          schema:
            type: string
            description: "Is de eerste dag waarop een aspirant-student zich aan kan
            melden voor het betreffende cohort van een aangeboden opleiding. "
            format: date
        - in: query
          name: eindeAanmeldperiode
          schema:
            type: string
            description: "De laatste dag dat een student kan beginnen in een cohort
            van een aangeboden opleiding met een flexibele instroom. "
            format: date
        - $ref: "#/components/parameters/Status"
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AangebodenOpleidingscohort"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /aangeboden-opleiding-cohorten/{id}:
    get:
      tags:
        - AangebodenOpleidingscohorten
      operationId: AangebodenOpleidingscohort
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AangebodenOpleidingscohort"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /aangeboden-opleidingen:
    get:
      tags:
        - AangebodenOpleidingen
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: AangebodenOpleidingen
      parameters:
        - in: query
          name: type
          schema:
            $ref: '#/components/schemas/Aangebodenopleidingtype'
        - in: query
          name: onderwijslocatieId
          required: false
          schema:
            maxLength: 7
            minLength: 7
            pattern: "(\\d{3}X\\d{3})"
            type: string
            description: "Een betekenisloze identifier voor een onderwijslocatie in de
            Registratie Instellingen en Opleidingen."
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - name: opleidingseenheidcode
          in: query
          schema:
            maxLength: 9
            minLength: 9
            pattern: "(\\d{4}O\\d{4})"
            type: string
            description: "Een betekenisloze identifier voor een opleidingseenheid in
            de Registratie Instellingen en Opleidingen."
        - name: organisatorischeEenheidcode
          in: query
          schema:
            maxLength: 7
            minLength: 7
            pattern: "\\d{3}[A-Z]{1}\\d{3}"
            type: string
            description: "Identificerend kenmerk voor een organisatorische eenheid ten
            behoeve van uitwisseling in de keten."
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AangebodenOpleiding"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /aangeboden-opleidingen/{id}:
    get:
      tags:
        - AangebodenOpleidingen
      operationId: AangebodenOpleiding
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AangebodenOpleiding"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /aangeboden-opleidingen/{id}/aangeboden-opleiding-cohorten:
    get:
      tags:
        - AangebodenOpleidingen
      summary: AangebodenOpleidingscohorten
      description: Alleen 'ho', 'mbo' en 'particuliere' AangebodenOpleidingen hebben AangebodenOpleidingscohorten
      operationId: AangebodenOpleiding_AangebodenOpleidingcohort
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: "De unieke aanduiding van een aangeboden opleiding voor uitwisseling in de keten."
            format: uuid
        - in: query
          name: aanmeldperiode
          schema:
            type: string
            description: "De datum die wordt gehanteerd bij het nemen van een beslissing
            of het bepalen van een status."
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AangebodenOpleidingscohort"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /aangeboden-opleidingen/{id}/onderwijsaanbieder:
    get:
      tags:
        - AangebodenOpleidingen
      summary: Onderwijsaanbieder
      operationId: AangebodenOpleiding_OrganisatorischeEenheid
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: "De unieke aanduiding van een aangeboden opleiding voor uitwisseling in de keten."
            format: uuid
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganisatorischeEenheid"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
  /aangeboden-opleidingen/{id}/onderwijslocatie:
    get:
      tags:
        - AangebodenOpleidingen
      summary: Onderwijslocatie
      operationId: AangebodenOpleiding_Onderwijslocatie
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: "De unieke aanduiding van een aangeboden opleiding voor uitwisseling in de keten."
            format: uuid
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Onderwijslocatie"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /aangeboden-opleidingen/{id}/opleiding:
    get:
      tags:
        - AangebodenOpleidingen
      summary: Opleiding
      operationId: AangebodenOpleiding_Opleiding
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: "De unieke aanduiding van een aangeboden opleiding voor uitwisseling in de keten."
            format: uuid
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opleiding"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /aangeboden-opleidingen/{id}/opleidingsfase:
    get:
      tags:
        - AangebodenOpleidingen
      summary: Opleidingsfase
      operationId: AangebodenOpleiding_Opleidingsfase
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: "De unieke aanduiding van een aangeboden opleiding voor uitwisseling in de keten."
            format: uuid
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opleidingsfase"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /aangeboden-opleidingen/{id}/opleidingsgroep:
    get:
      tags:
        - AangebodenOpleidingen
      summary: Opleidingsgroep
      operationId: AangebodenOpleiding_Opleidingsgroep
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: "De unieke aanduiding van een aangeboden opleiding voor uitwisseling in de keten."
            format: uuid
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opleidingsgroep"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /aangeboden-opleidingen/{id}/opleidingsonderdeel:
    get:
      tags:
        - AangebodenOpleidingen
      summary: Opleidingsonderdeel
      operationId: AangebodenOpleiding_Opleidingsonderdeel
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: "De unieke aanduiding van een aangeboden opleiding voor uitwisseling in de keten."
            format: uuid
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opleidingsonderdeel"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /contactadressen:
    get:
      tags:
        - Contactadressen
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: Contactadressen
      parameters:
        - in: query
          name: contactadrestype
          schema:
            $ref: '#/components/schemas/Contactadrestype'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Contactadres"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /contactadressen/{id}:
    get:
      tags:
        - Contactadressen
      operationId: Contactadres
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contactadres"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /erkenningen:
    get:
      tags:
        - Erkenningen
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: Erkenningen
      parameters:
        - in: query
          name: erkenningtype
          schema:
            $ref: '#/components/schemas/ErkendeOrganisatietype'
        - in: query
          name: volledigeNaam
          description: "Er kan gezocht worden op vergelijkbare waarden in plaats van exacte waarden."
          schema:
            type: string
            minLength: 1
            maxLength: 80
        - in: query
          name: plaatsnaam
          description: "Er kan gezocht worden op vergelijkbare waarden in plaats van exacte waarden."
          schema:
            type: string
            minLength: 1
            maxLength: 40
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Erkenning"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /erkenningen/{id}:
    get:
      tags:
        - Erkenningen
      operationId: Erkenning
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 22
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erkenning"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /erkenningen/{id}/examenlicenties:
    get:
      tags:
        - Erkenningen
      summary: Examenlicenties
      operationId: Erkenning_Examenlicentie
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 22
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Examenlicentie"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /erkenningen/{id}/financieringsbesluiten:
    get:
      tags:
        - Erkenningen
      summary: Financieringsbesluiten
      operationId: Erkenning_Financieringsbesluiten
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 22
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Financieringsbesluit"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /erkenningen/{id}/instellingsrelaties:
    get:
      tags:
        - Erkenningen
      summary: Instellingsrelaties
      operationId: Erkenning_Instellingsrelaties
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 22
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instellingsrelatie'
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /erkenningen/{id}/onderwijslicenties:
    get:
      tags:
        - Erkenningen
      summary: Onderwijslicenties
      operationId: Erkenning_Onderwijslicentie
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 22
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Onderwijslicentie"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /erkenningen/{id}/onderwijslocatiegebruiken:
    get:
      tags:
        - Erkenningen
      summary: Onderwijslocatiegebruiken
      operationId: Erkenning_Onderwijslocatiegebruik
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 22
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Onderwijslocatiegebruik"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /erkenningen/{id}/organisatorische-eenheden:
    get:
      tags:
        - Erkenningen
      summary: OrganisatorischeEenheden
      operationId: Erkenning_OrganisatorischeEenheid
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 22
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrganisatorischeEenheid"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /examenlicenties:
    get:
      tags:
        - Examenlicenties
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: Examenlicenties
      parameters:
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Examenlicentie"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /examenlicenties/{id}:
    get:
      tags:
        - Examenlicenties
      operationId: Examenlicentie
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 36
            maxLength: 36
            pattern: '[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Examenlicentie"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /examenlicenties/{id}/opleidingserkenning:
    get:
      tags:
        - Examenlicenties
      summary: Opleidingserkenning
      operationId: Examenlicentie_Opleidingserkenning
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 36
            maxLength: 36
            pattern: '[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opleidingserkenning"
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /onderwijslicenties:
    get:
      tags:
        - Onderwijslicenties
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: Onderwijslicenties
      parameters:
        - in: query
          name: type
          schema:
            $ref: '#/components/schemas/Licentietype'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Onderwijslicentie"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /onderwijslicenties/{id}:
    get:
      tags:
        - Onderwijslicenties
      operationId: Onderwijslicentie
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 36
            maxLength: 36
            pattern: '[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Onderwijslicentie"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /onderwijslicenties/{id}/opleidingserkenning:
    get:
      tags:
        - Onderwijslicenties
      summary: Opleidingserkenning
      operationId: Onderwijslicentie_Opleidingserkenning
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 36
            maxLength: 36
            pattern: '[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opleidingserkenning"
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /onderwijslocatiegebruiken:
    get:
      tags:
        - Onderwijslocatiegebruiken
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: Onderwijslocatiegebruiken
      parameters:
        - in: query
          name: onderwijslocatieId
          schema:
            type: string
            description: "Een betekenisloze identifier voor een onderwijslocatie in de
            Registratie Instellingen en Opleidingen."
            minLength: 7
            maxLength: 7
            pattern: '(\d{3}X\d{3})'
        - in: query
          name: onderwijsbestuurId
          schema:
            type: string
            description: "Een betekenisloze identifier voor een onderwijsbestuur in de
            Registratie Instellingen en Opleidingen."
            minLength: 7
            maxLength: 7
            pattern: '(\d{3}B\d{3})'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Onderwijslocatiegebruik"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /onderwijslocatiegebruiken/{id}:
    get:
      tags:
        - Onderwijslocatiegebruiken
      operationId: Onderwijslocatiegebruik
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Onderwijslocatiegebruik"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /onderwijslocaties:
    get:
      tags:
        - Onderwijslocaties
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: Onderwijslocaties
      parameters:
        - in: query
          name: aangebodenOpleidingId
          schema:
            type: string
            description: "De unieke aanduiding van een aangeboden opleiding voor uitwisseling in de keten."
            format: uuid
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Onderwijslocatie"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /onderwijslocaties/{id}:
    get:
      tags:
        - Onderwijslocaties
      operationId: Onderwijslocatie
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 7
            maxLength: 7
            pattern: '(\d{3}X\d{3})'
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Onderwijslocatie"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /opleidingserkenningen:
    get:
      tags:
        - Opleidingserkenningen
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: Opleidingserkenningen
      parameters:
        - in: query
          name: opleidingserkenningtype
          schema:
            $ref: '#/components/schemas/Opleidingserkenningtype'
        - in: query
          name: erkendeopleidingscode
          schema:
            type: string
            maxLength: 8
            minLength: 1
            description: "Een unieke identificatie die door de erkenner wordt toegekend
            aan een opleidingserkenning in de Registratie Instellingen en Opleidingen. "
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Opleidingserkenning"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /opleidingserkenningen/{id}:
    get:
      tags:
        - Opleidingserkenningen
      operationId: Opleidingserkenning
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opleidingserkenning"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /opleidingserkenningen/{id}/examenlicenties:
    get:
      tags:
        - Opleidingserkenningen
      summary: Examenlicenties
      operationId: Opleidingserkenning_Examenlicentie
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Examenlicentie'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "404":
          description: Niet gevonden.
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingserkenningen/{id}/financieringsbesluiten:
    get:
      tags:
        - Opleidingserkenningen
      summary: Financieringsbesluiten
      operationId: Opleidingserkenning_Financieringsbesluiten
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Financieringsbesluit"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /opleidingserkenningen/{id}/onderwijslicenties:
    get:
      tags:
        - Opleidingserkenningen
      summary: Onderwijslicenties
      operationId: Opleidingserkenning_Onderwijslicentie
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Onderwijslicentie'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "404":
          description: Niet gevonden.
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingserkenningen/{id}/opleiding:
    get:
      tags:
        - Opleidingserkenningen
      summary: Opleiding
      operationId: Opleidingserkenning_Opleiding
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opleiding'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "404":
          description: Niet gevonden.
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingserkenningen/{id}/opleidingsfase:
    get:
      tags:
        - Opleidingserkenningen
      summary: Opleidingsfase
      operationId: Opleidingserkenning_Opleidingsfase
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opleidingsfase'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "404":
          description: Niet gevonden.
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingserkenningen/{id}/opleidingsgroep:
    get:
      tags:
        - Opleidingserkenningen
      summary: Opleidingsgroep
      operationId: Opleidingserkenning_Opleidingsgroep
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opleidingsgroep'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "404":
          description: Niet gevonden.
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingserkenningen/{id}/opleidingsonderdeel:
    get:
      tags:
        - Opleidingserkenningen
      summary: Opleidingsonderdeel
      operationId: Opleidingserkenning_Opleidingsonderdeel
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opleidingsonderdeel'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "404":
          description: Niet gevonden.
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingsfasen:
    get:
      tags:
        - Opleidingsfasen
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: Opleidingsfasen
      parameters:
        - in: query
          name: opleidingseenheidtype
          schema:
            $ref: '#/components/schemas/Opleidingseenheidtype'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Opleidingsfase"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /opleidingsfasen/{id}:
    get:
      tags:
        - Opleidingsfasen
      operationId: Opleidingsfase
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opleidingsfase"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /opleidingsfasen/{id}/aangeboden-opleidingen:
    get:
      tags:
        - Opleidingsfasen
      summary: AangebodenOpleidingen
      operationId: Opleidingfase_AangebodenOpleiding
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AangebodenOpleiding'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingsfasen/{id}/opleidingserkenning:
    get:
      tags:
        - Opleidingsfasen
      summary: Opleidingserkenning
      operationId: Opleidingsfase_Opleidingserkenning
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opleidingserkenning"
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingsfasen/{id}/opleidingsrelaties:
    get:
      tags:
        - Opleidingsfasen
      summary: Opleidingsrelaties
      operationId: Opleidingfase_Opleidingsrelatie
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Opleidingsrelatie'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingsgroepen:
    get:
      tags:
        - Opleidingsgroepen
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: Opleidingsgroepen
      parameters:
        - in: query
          name: opleidingseenheidtype
          schema:
            $ref: '#/components/schemas/Opleidingseenheidtype'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Opleidingsgroep"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /opleidingsgroepen/{id}:
    get:
      tags:
        - Opleidingsgroepen
      operationId: Opleidingsgroep
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opleidingsgroep"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /opleidingsgroepen/{id}/aangeboden-opleidingen:
    get:
      tags:
        - Opleidingsgroepen
      summary: AangebodenOpleidingen
      operationId: Opleidingsgroep_AangebodenOpleidingen
      parameters:
        -   in: path
            name: id
            required: true
            schema:
              type: string
              minLength: 1
              maxLength: 100
        - name: datumGeldigOp
          in: query
          required: false
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AangebodenOpleiding'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingsgroepen/{id}/opleidingen:
    get:
      tags:
        - Opleidingsgroepen
      summary: Opleidingen
      operationId: Opleidingsgroep_Opleidingen
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - name: datumGeldigOp
          in: query
          required: false
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Opleiding'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingsgroepen/{id}/opleidingserkenning:
    get:
      tags:
        - Opleidingsgroepen
      summary: Opleidingserkenning
      operationId: Opleidingsgroep_Opleidingserkenning
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - name: datumGeldigOp
          in: query
          required: false
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opleidingserkenning'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "404":
          description: Niet gevonden.
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingsgroepen/{id}/opleidingsfasen:
    get:
      tags:
        - Opleidingsgroepen
      summary: Opleidingsfasen
      operationId: Opleidingsgroep_Opleidingsfasen
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - name: datumGeldigOp
          in: query
          required: false
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Opleidingsfase'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingsgroepen/{id}/opleidingsrelaties:
    get:
      tags:
        - Opleidingsgroepen
      summary: Opleidingsrelaties
      operationId: Opleidingsgroep_Opleidingsrelatie
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Opleidingsrelatie'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingsonderdelen:
    get:
      tags:
        - Opleidingsonderdelen
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: Opleidingsonderdelen
      parameters:
        - in: query
          name: opleidingseenheidtype
          schema:
            $ref: '#/components/schemas/Opleidingseenheidtype'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Opleidingsonderdeel"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /opleidingsonderdelen/{id}:
    get:
      tags:
        - Opleidingsonderdelen
      operationId: Opleidingsonderdeel
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opleidingsonderdeel"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /opleidingsonderdelen/{id}/aangeboden-opleidingen:
    get:
      tags:
        - Opleidingsonderdelen
      summary: AangebodenOpleidingen
      operationId: Opleidingsonderdeel_AangebodenOpleiding
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AangebodenOpleiding'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingsonderdelen/{id}/opleidingserkenning:
    get:
      tags:
        - Opleidingsonderdelen
      summary: Opleidingserkenning
      operationId: Opleidingsonderdeel_Opleidingserkenning
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Opleidingserkenning"
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /opleidingsonderdelen/{id}/opleidingsrelaties:
    get:
      tags:
        - Opleidingsonderdelen
      summary: Opleidingsrelaties
      operationId: Opleidingsonderdeel_Opleidingsrelatie
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Opleidingsrelatie'
        "400":
          description: 'Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. '
        "403":
          description: 'Forbidden. Je hebt geen rechten om deze URL te benaderen. '
        "406":
          description: 'Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. '
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
  /organisatorische-eenheden:
    get:
      tags:
        - OrganisatorischeEenheden
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: OrganisatorischeEenheden
      parameters:
        - in: query
          name: organisatorischeEenheidType
          schema:
            $ref: '#/components/schemas/OrganisatorischeEenheidtype'
        - in: query
          name: onderwijslocatiegebruikId
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: aangebodenOpleidingId
          schema:
            type: string
            description: "De unieke aanduiding van een aangeboden opleiding voor uitwisseling in de keten."
            format: uuid
        - in: query
          name: instellingserkenningId
          schema:
            type: string
            description: 'Is een identificerend kenmerk van een erkenning van een organisatie
            of een locatie ten behoeve van uitwisseling in de keten. '
            minLength: 1
            maxLength: 22
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrganisatorischeEenheid"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /organisatorische-eenheden/{id}:
    get:
      tags:
        - OrganisatorischeEenheden
      operationId: OrganisatorischeEenheid
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 7
            maxLength: 7
            pattern: '\d{3}[A-Z]{1}\d{3}'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganisatorischeEenheid"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /organisatorische-eenheden/{id}/aangeboden-opleidingen:
    get:
      tags:
        - OrganisatorischeEenheden
      summary: AangebodenOpleidingen
      operationId: OrganisatorischeEenheid_AangebodenOpleiding
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 7
            maxLength: 7
            pattern: '\d{3}[A-Z]{1}\d{3}'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AangebodenOpleiding"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /organisatorische-eenheden/{id}/contactadressen:
    get:
      tags:
        - OrganisatorischeEenheden
      summary: Contactadressen
      operationId: OrganisatorischeEenheid_Contactadres
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 7
            maxLength: 7
            pattern: '\d{3}[A-Z]{1}\d{3}'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Contactadres"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /organisatorische-eenheden/{id}/erkenningen:
    get:
      tags:
        - OrganisatorischeEenheden
      summary: Erkenningen
      operationId: OrganisatorischeEenheid_Erkenning
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 7
            maxLength: 7
            pattern: '\d{3}[A-Z]{1}\d{3}'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Erkenning"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /organisatorische-eenheden/{id}/onderwijslocatiegebruiken:
    get:
      tags:
        - OrganisatorischeEenheden
      summary: Onderwijslocatiegebruiken
      operationId: OrganisatorischeEenheid_Onderwijslocatiegebruik
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 7
            maxLength: 7
            pattern: '\d{3}[A-Z]{1}\d{3}'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Onderwijslocatiegebruik"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        404:
          description: "Niet gevonden."
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /organisatorische-eenheden/{id}/organisatierelaties:
    get:
      tags:
        - OrganisatorischeEenheden
      summary: Organisatierelaties
      operationId: OrganisatorischeEenheid_Organisatierelaties
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 7
            maxLength: 7
            pattern: '\d{3}[A-Z]{1}\d{3}'
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organisatierelatie'
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de
            query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats."
  /opleidingen:
    get:
      tags:
        - Opleidingen
      x-spring-paginated: true
      x-lod-paginated: true
      operationId: Opleidingen
      parameters:
        - in: query
          name: opleidingseenheidtype
          schema:
            $ref: '#/components/schemas/Opleidingseenheidtype'
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
        - in: query
          name: page
          schema:
            type: integer
            description: "De bij de webservice opgevraagde resultatenpagina met een vooraf
            afgesproken aantal resultaten van de betreffende raadpleging"
            format: int32
        - in: query
          name: pageSize
          schema:
            maximum: 100
            minimum: 1
            type: integer
            description: "Het maximaal aantal resultaten dat getoond kan worden op een
            pagina."
            format: int64
        - $ref: "#/components/parameters/Sort"
      responses:
        200:
          description: "OK."
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Opleiding"
        400:
          description: "Bad request. Je request body bevat geen geldige JSON of de query wordt niet ondersteund door de API. "
        403:
          description: "Forbidden. Je hebt geen rechten om deze URL te benaderen. "
        406:
          description: "Not Acceptable. Je hebt waarschijnlijk een gewenst formaat met de Accept header verstuurd welke niet ondersteund wordt. "
        503:
          description: "Service Unavailable. Er vindt mogelijk (gepland) onderhoud of een storing plaats."
  /opleidingen/{id}:
    get:
      tags:
        - Opleidingen
      operationId: Opleiding
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - in: query
          name: datumGeldigOp
          schema:
            type: string
            description: De datum die het begin van de periode aangeeft (inclusief).
            format: date
      responses:
[...]
